html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}
.main-container {
  background-color: #fff4e6;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
/*MindMap*/
.MindMap > img {
  max-width: 100%;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*Book-header*/

.Book-header {
  background-color: #222331;
  min-height: 100px;
  margin-bottom: 50px;
}

.Book-header-wraper {
  display: flex;
  color: #ffffff;
  padding-left: 50px;
}
.Book-header-wraper > a {
  padding: 25px 0;
}
.book-name {
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  margin-left: 200px;
  padding: 10px 0;
}

.book-author {
  font-size: 30px;
  margin-left: 150px;
  padding: 30px 0;
}

/* about-book*/
.about-book {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
}

.Main-questions {
  max-width: 530px;
  margin-right: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
}

.Main-questions > h3 {
  padding-left: 70px;
  font-style: italic;
  font-size: 20px;
}

.Main-questions-list > li {
  padding-bottom: 2px;
}

.book-for {
  width: 530px;
  padding-left: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
}
.book-for > h3 {
  padding-left: 70px;
  font-style: italic;
  font-size: 20px;
}



/*opinion-about-the-book*/
.our-team {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(2, 190px);
  grid-gap: 40px 15px;
  padding: 10px;
}

.our-team > li {
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  padding: 1em;
  list-style: none;
}

.team1 {
  grid-area: 1/1/3/2;
}

.team2 {
  grid-area: 1/2/3/3;
}
.team3 {
  grid-area: 1/3/2/5;
}
.team4 {
  grid-area: 2/3/3/5;
}

.team5 {
  grid-area: 1/5/3/6;
}

.our-team > li > img {
  float: left;
  margin: 0 5px;
}
.our-team > li > h3 {
  margin: 0 0 -10px 0;
}
.our-team > li > p {
  text-align: left;
}

/*Made-by*/
.Made-by {
  background-color: #222331;
  height: 100px;
  display: flex;
  color: #ffffff;
  padding: 20px 50px;
}

.Made-by > a {
  margin-right: 200px;
}

.Made-by > h3 {
  font-size: 22px;
}

@media (max-width:1200px){
  .main-container {
    max-width: 970px;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
  .bottom-link{
    margin-top: 5px;
  }
  .h3-group{
    margin: 18px;
  }
  .book-author{
    margin-top: 0px;
    line-height: 25px;
    padding-top: 35px;
  }
  .book-name{
    margin-left: 100px;
    margin-top: 21px;
    line-height: 25px;
  }
}

@media (max-width:992px){
  .main-container {max-width: 750px;}
  .book-name{
    margin-left: 100px;
    margin-top: 15px;
    line-height: 25px;
  }
  .book-author{
    margin-top: 0px;
    line-height: 25px;
    padding-top: 25px;
  }
  .bottom-link{
    margin-top: 5px;
  }
  .h3-group{
    margin: 8px;
  }
  }


@media (max-width:767px){
  .main-container {max-width: 320px;
  }
  .about-book{
    flex-wrap: wrap;
  }
  .Main-questions {
    margin: 0;
    margin-bottom: 20px;
    width: 530px;
  }
  .book-for {
    padding: 0px;
  }
  .Book-header-wraper{
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
    align-content: space-around;
  }

    .h3-group {
      display: none;
    }
    
    .book-name {
      text-align: center;
      margin: 0;
    }
    .book-author{
      text-align: center;
      margin: 0;
    }
    .Made-by {
      align-items: center;
      padding: 20px 75px;
    }
    .our-team > li{
      margin-bottom: 20px;
    }
  }

  img[tabindex="0"] {
    cursor: zoom-in;
  }
  img[tabindex="0"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
  }
  img[tabindex="0"]:focus,  /* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */
  img[tabindex="0"]:focus ~ * {
    pointer-events: none;
    cursor: zoom-out;
  }

