html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Playfair Display', 'Raleway','Poppins', 'Arial', sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}
.main-container {
  background-color: #d8d8d8;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
/*MindMap*/
.MindMap img {
  width: 1200px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*Book-header*/

.Book-header {
  background-color: #222331;
  min-height: 100px;
  margin-bottom: 50px;
}

.Book-header-wraper {
  display: flex;
  color: #ffffff;
  padding-left: 50px;
}

.Book-header-wraper > a {
  padding: 50px 0;
}

.book-title.{
margin-bottom: ;
}

.book-name {
  font-family: 'Playfair Display';
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  margin-left: 300px;
  padding: 10px 0;
}

.book-author {
  font-family: 'Playfair Display';
  font-size: 30px;
  margin-left: 340px;
  padding: 30px 0;
}

.book-img{
  margin-top: 30px;
  margin-left: 250px;
}

/* about-book*/
.about-book {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
}

.Main-questions {
  max-width: 530px;
  margin-right: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
}

.Main-questions > h3 {
  padding-left: 70px;
  font-style: italic;
  font-size: 20px;
}

.Main-questions-list > li {
  padding-right: 10px;
  padding-bottom: 2px;
  font-family:'Poppins';
  font-size: 14px;
  line-height: 21px;
}

.book-for {
  width: 530px;
  padding-left: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
}
.book-for > h3 {
  padding-left: 70px;
  font-style: italic;
  font-size: 20px;
}
.book-for-list>li {
 font-family:'Poppins';
}

/*opinion-about-the-book*/
.our-team {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1.1fr 1.4fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(2, 190px);
  grid-gap: 40px 15px;
  padding: 10px;
}

.our-team > li {
  background-color: #ffffff;
  -webkit-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 25px 16px 19px 7px rgba(34, 60, 80, 0.2);
  padding: 1em;
  list-style: none;
}

.team1 {
  grid-area: 1/1/3/2;
}

.team4 {
  grid-area: 1/2/3/3;
}
.team3 {
  grid-area: 1/3/2/5;
}
.team5 {
  grid-area: 2/3/3/5;
}

.team2 {
  grid-area: 1/5/3/6;
}

.our-team > li > img {
  float: left;
  margin: 0 5px;
}
.our-team > li > h3 {
  margin: 0 0 -10px 0;
}
.our-team > li > p {
  text-align: left;
}

/*Made-by*/
.Made-by {
  background-color: #222331;
  min-height: 100px;
  display: flex;
  color: #ffffff;
  padding: 20px 50px;
}

.Made-by > a {
  margin-right: 200px;
}

.Made-by > h3 {
  font-size: 22px;
}

@media (max-width: 1200px) {
  .main-container {
    max-width: 970px;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team li {
    margin-bottom: 15px;
  }
  .our-team img {
    height: 110px;
  }
  .bottom-link {
    margin-top: 5px;
  }
  .h3-group {
    margin: 18px;
  }
  .book-author {
    margin-top: 0px;
    line-height: 25px;
    padding-top: 35px;
  }
  .book-name {
    margin-left: 100px;
    margin-top: 21px;
    line-height: 25px;
  }
  .MindMap a img {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .main-container {
    max-width: 750px;
  }
  .book-name {
    margin-left: 100px;
    margin-top: 15px;
    line-height: 25px;
  }
  .book-author {
    margin-top: 0px;
    line-height: 25px;
    padding-top: 25px;
  }
  .bottom-link {
    margin-top: 5px;
  }
  .h3-group {
    margin: 8px;
  }
  .MindMap a img {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .main-container {
    max-width: 320px;
  }
  .about-book {
    flex-wrap: wrap;
  }
  .about-book h3 {
    padding-left: 0;
    text-align: center;
  }
  .Main-questions {
    margin: 0;
    margin-bottom: 20px;
    width: 530px;
  }
  .book-for {
    padding: 0px;
  }
  .Book-header-wraper {
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
    align-content: space-around;
  }

  .book-name {
    text-align: center;
    margin: 0;
  }
  .book-author {
    text-align: center;
    margin: 0;
  }
  .Made-by {
    align-items: center;
    padding: 20px 75px;
    flex-wrap: wrap;
    text-align: center;
  }
  .h3-group {
    margin-bottom: 0px;
  }

  .our-team > li {
    margin-bottom: 20px;
  }
  li h3 {
    margin: 0;
    text-align: center;
  }
  .MindMap a img {
    max-width: 320px;
  }
}
li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: #ff6b08;
}
